body{
    color: beige;
}

.box{
    width: 270px;
    height: 270px;
    border: solid 1px black;
    background-color: rgb(73, 10, 73);
}

.box2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
.box3{
    margin-left: auto;
}
