.parent{
    width: 40%;
    height: 400px;
    background-color: blue;
    border: 1px solid black;
    position: absolute;
}

.child{
    width: 20%;
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
    position: relative;
    left: 70%;

}

.fixed{
    width: 15%;
    height: 100px;
    background-color: blanchedalmond;
    border: 1px solid black;
    position: fixed;
    left: 50%;
}